.testimonials_list .item {
  margin-bottom: 30px
}

.testimonials_list .item .photo {
  width: 100%;
  float: none;
  margin-bottom: 10px
}

.testimonials_list .item .desc {
  width: 100%;
  float: none;
  margin-bottom: 0
}