@media (min-width: 0)
{
  .about-photo {
    max-width: 360px;
  }

  .f1 {
    font: normal normal normal 45px/1.4em 'arial black', arial-w01-black, arial-w02-black, 'arial-w10 black', sans-serif;
  }
  
  .f2 {
    font: normal normal normal 20px/1.4em 'open sans', sans-serif;
  }
}

@media (min-width: 600px)
{
  .about-photo {
    max-width: 440px;
  }

  .f1 {
    font: normal normal normal 65px/1.4em 'arial black', arial-w01-black, arial-w02-black, 'arial-w10 black', sans-serif;
  }
  
  .f2 {
    font: normal normal normal 22px/1.4em 'open sans', sans-serif;
  }
}

@media (min-width: 960px)
{
  .about-photo {
    max-width: 550px;
  }

  .f1 {
    font: normal normal normal 75px/1.4em 'arial black', arial-w01-black, arial-w02-black, 'arial-w10 black', sans-serif;
  }
  
  .f2 {
    font: normal normal normal 26px/1.4em 'open sans', sans-serif;
  }
}

@media (min-width: 1264px) {
  
}

@media (min-width: 1904px)
{
  
}