@font-face {
  font-family: "Nike";
  src: url("~@/assets/fonts/Nk767_ALY.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Adidas";
  src: url("~@/assets/fonts/FFF World Cup 2018 Adidas.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Alternativ";
  src: url("~@/assets/fonts/a_AlternaNr.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Atletico";
  src: url("~@/assets/fonts/Atletico Madrid 2013-2014.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Real";
  src: url("~@/assets/fonts/RealMadrid2011-2012.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}