.bg-constructor .v-responsive__content {
  z-index: 10;
}

.t1 {
  font-size: 36px;
  font-family: "PTSans";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-transform: uppercase;
  text-align: left; 
}

.t2_1 {
  font-size: 18px;
  font-family: "PTSans";
  color: rgb( 255, 255, 255 );
}

.t3 {
  font-size: 36px;
  font-family: "PTSans";
  color: rgb( 70, 85, 134 );
  font-weight: bold;
  text-transform: uppercase;
}

.t4 {
  font-size: 16px;
  font-family: "PTSans";
  color: rgb( 145, 145, 145 );
  line-height: 1.5;
}

.t5 {
  font-size: 16px;
  font-family: "PTSans";
  color: rgb( 205, 205, 205 );
  font-weight: bold;
  line-height: 1.5;
}

.t6 {
  font-family: "PTSans";
  font-weight: 700;
  margin-bottom: 7px;
  font-size: 1.5rem;
  line-height: 38px;
  color: #279e03;
}